/*Reset basico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables Principales*/
:root {
    /*Colores*/
    --color-bg: #f4f4f4;
    --color-texto: #333;
    --color-primary: #2ecc71;
    --color-completed: #009688;
    /*espaciado*/
    --spacing-sm: 10px;
    --spacing-md: 16px;
    --spacing-lg: 20px;
}

/*Tipografia base*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-texto);
}

/*Layouth*/
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: var(--spacing-lg);
}

/* header */
.header {
    text-align: center;
    margin-bottom: var(--spacing-lg);
}

.header__title{
    margin-bottom: var(--spacing-md);
}

.header__content{
    font-size: 0.9rem;
    color: #666;
}

.header__img {
    width: 80px;
    padding: var(--spacing-sm);
}

/*formulario de ingreso*/
.form__fieldset{
    padding: var(--spacing-sm);
}

.form {
    margin-bottom: var(--spacing-lg);
}

.form__label {
    display: block;
    margin-top: var(--spacing-md);
    font-weight: bold;
}

.form__input{
    display: block;
    width: 100%;
    padding: var(--spacing-md);
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form__button {
    width: 100%;
    padding: var(--spacing-sm);
    background-color: var(--color-primary);
    border: none;
    color: var(--color-bg);
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: var(--spacing-sm);
}

.form__button:hover {
    background-color: #27ae60;
    font-weight: bold;
}

/*Lista de tareas*/
.tasks {
    margin-bottom: var(--spacing-lg);
}

.tasks__list{
    list-style: none;
}

.tasks__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    border-radius: 4px;

}

.tasks__list--completed {
    background-color: var(--color-completed);
    text-decoration: line-through;
    color:white;
    font-weight: bold;
}

.tasks__button-delete {
    color: red;
    padding: var(--spacing-sm);
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.tasks__msj {
    margin-top: var(--spacing-sm);
    color: red;
    display: none;
    font-size: 0.9rem;
}

.tasks_msjVisible {
    display: block;
}